
@{
    ViewData["Title"] = "ForgetPassword";
}

@model WebAdvertisement.Web.Models.Accounts.ForgetPasswordViewModel

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="RecreatePassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword"></label>
                <input asp-for="RepeatPassword" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            
            <button class="btn btn-primary">Change password</button>
        </form>
    </div>
</div>

