
@{
    ViewData["Title"] = "PasswordRecreate";
}

@model WebAdvertisement.Web.Models.Accounts.PasswordRecreateViewModel

    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-controller="Account" asp-action="RedirectToForgotPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Get Code</button>
            </form>
        </div>
    </div>

